@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT */
:root {
  color-scheme: light;
  --color-yellow: #f5c518;
  --color-dark-gray: #1a1a1a;
  --color-light-gray: #a7a9ac;
  --color-white: #f5f5f5;
}

/* DARK */
.dark {
  color-scheme: dark;
  --color-yellow: #f5c518;
  --color-dark-gray: #0d0d0d;
  --color-light-gray: #a7a9ac;
  --color-white: #f5f5f5;
}

/* BASE */
@layer base {
  body {
    @apply font-body bg-brand-white text-brand-dark;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }
}
